---
apiVersion: crd.projectcalico.org/v1
kind: HostEndpoint
metadata:
  name: %NODE_NAME%-%VPN_IFACE1_NAME%
  labels:
    host-endpoint: vpn
    nodetype: worker
spec:
  interfaceName: %VPN_IFACE1_NAME%
  node: "%NODE_NAME%"
---
apiVersion: crd.projectcalico.org/v1
kind: HostEndpoint
metadata:
  name: %NODE_NAME%-%VPN_IFACE2_NAME%
  labels:
    host-endpoint: vpn
    nodetype: worker
spec:
  interfaceName: %VPN_IFACE2_NAME%
  node: "%NODE_NAME%"
